@font-face {
  font-family: "policemenu1";
  src: url("england.ttf");
}
@font-face {
  font-family: "logo";
  src: url("Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "policemenu3-4";
  src: url("AlexBrush-Regular.ttf");
}
@font-face {
  font-family: "policemenu2";
  src: url("Rubik-Regular.ttf");
}
body {
  width: 100%;
  margin: auto;
}

header h1 {
  background-color: #569C87;
  text-align: center;
  color: #FDCB46;
  margin: auto;
  line-height: 2;
  margin-bottom: 5%;
  font-weight: normal;
  font-size: 4em;
  font-family: "logo";
}

.menu {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  text-align: center;
  grid-gap: 100px;
  grid-auto-rows: 500px;
  justify-content: center;
  margin-bottom: 5%;
  font-size: 35px;
}
.menu__1 {
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 0px 10px 10px rgba(100, 0, 0, 0.2);
}
.menu__1 div {
  background-color: #FCDFDA;
  transition: all 1s;
  width: 100%;
  height: 100%;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu__1 div:hover {
  transform: scale(1.2);
  opacity: 0.5;
}
.menu__2 {
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 0px 10px 10px rgba(100, 0, 0, 0.2);
}
.menu__2 div {
  background-color: #FFEDFC;
  transition: all 1s;
  width: 100%;
  height: 100%;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu__2 div:hover {
  transform: scale(1.2);
  opacity: 0.5;
}
.menu__3 {
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 0px 10px 10px rgba(100, 0, 0, 0.2);
}
.menu__3 div {
  background-color: #F9F9F9;
  transition: all 1s;
  width: 100%;
  height: 100%;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu__3 div:hover {
  transform: scale(1.2);
  opacity: 0.5;
}
.menu__4 {
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 0px 10px 10px rgba(100, 0, 0, 0.2);
}
.menu__4 div {
  background-color: #FDFFFD;
  transition: all 1s;
  width: 100%;
  height: 100%;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu__4 div:hover {
  transform: scale(1.2);
  opacity: 0.5;
}

.menu__1 {
  font-family: "policemenu1";
}
.menu__1 a {
  color: black;
}
.menu__1 .degrademenu {
  background: -webkit-linear-gradient(bottom left, black, grey);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.note {
  background: -webkit-linear-gradient(bottom left, red, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.menu__2 {
  font-family: "policemenu2";
  color: red;
  font-size: 25px;
}
.menu__2 a {
  color: orange;
}
.menu__2 .degrademenu {
  background: -webkit-linear-gradient(bottom left, orange 5%, #7218E3 100%, #6042AE 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu__3 {
  font-family: "policemenu3-4";
  color: blue;
}
.menu__3 a {
  color: blue;
}
.menu__3 .degrademenu {
  background: -webkit-linear-gradient(bottom left, blue, #2FB8FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu__4 {
  font-family: "policemenu3-4";
  color: green;
}
.menu__4 a {
  color: green;
}
.menu__4 .degrademenu {
  background: -webkit-linear-gradient(bottom left, green, #8BFE75);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.prochainement {
  border-radius: 5px;
  background-color: #569C87;
  text-align: center;
  color: #FDCB46;
  width: fit-content;
  margin: auto;
  line-height: 1.5;
  font-size: 1.8em;
  display: flex;
  align-items: center;
  padding: 0px 20px 0px 20px;
  margin-bottom: 150px;
}
.prochainement h2 {
  margin-right: 15px;
}

@keyframes dots {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(0px);
  }
}
.point-anim {
  width: 50px;
  display: flex;
  justify-content: space-around;
}
.point-anim span {
  background-color: #FDCB46;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.point-anim span:nth-child(1) {
  animation: dots 0.6s infinite;
}
.point-anim span:nth-child(2) {
  animation: dots 0.6s infinite;
  animation-delay: 0.2s;
}
.point-anim span:nth-child(3) {
  animation: dots 0.6s infinite;
  animation-delay: 0.4s;
}

footer {
  justify-content: space-around;
  background-color: #569C87;
  display: flex;
  margin-top: 5%;
  font-size: 1.3em;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
  align-items: center;
}

.contact {
  margin-left: 50%;
}
.contact:hover {
  animation: wiggle 0.7s infinite;
}

@keyframes wiggle {
  from {
    transform: translateX(-5px);
  }
  to {
    transform: translateX(5px);
  }
}
.mention:hover {
  animation: wiggle 0.7s infinite;
}

footer h3 {
  color: #FDCB46;
}

a {
  text-decoration: none;
}

/* media queries*/
@media screen and (max-width: 767px) {
  .menu {
    display: grid;
    grid-template-columns: repeat(1, 300px);
    text-align: center;
    grid-gap: 100px;
    grid-auto-rows: 500px;
    justify-content: center;
    margin-bottom: 5%;
    font-size: 35px;
  }
  .menu__1 {
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 10px 10px rgba(100, 0, 0, 0.2);
  }
  .menu__1 div {
    background-color: #FCDFDA;
    transition: all 1s;
    width: 100%;
    height: 100%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menu__1 div:hover {
    transform: scale(1.2);
    opacity: 0.5;
  }
  .menu__2 {
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 10px 10px rgba(100, 0, 0, 0.2);
  }
  .menu__2 div {
    background-color: #FFEDFC;
    transition: all 1s;
    width: 100%;
    height: 100%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menu__2 div:hover {
    transform: scale(1.2);
    opacity: 0.5;
  }
  .menu__3 {
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 10px 10px rgba(100, 0, 0, 0.2);
  }
  .menu__3 div {
    background-color: #F9F9F9;
    transition: all 1s;
    width: 100%;
    height: 100%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menu__3 div:hover {
    transform: scale(1.2);
    opacity: 0.5;
  }
  .menu__4 {
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 10px 10px rgba(100, 0, 0, 0.2);
  }
  .menu__4 div {
    background-color: #FDFFFD;
    transition: all 1s;
    width: 100%;
    height: 100%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menu__4 div:hover {
    transform: scale(1.2);
    opacity: 0.5;
  }

  .prochainement {
    font-size: 1em;
  }

  footer {
    font-size: initial;
  }

  .contact {
    margin-left: -10%;
  }

  .mention {
    margin-left: -5%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .menu {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    text-align: center;
    grid-gap: 100px;
    grid-auto-rows: 500px;
    justify-content: center;
    margin-bottom: 5%;
    font-size: 35px;
  }
  .menu__1 {
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 10px 10px rgba(100, 0, 0, 0.2);
  }
  .menu__1 div {
    background-color: #FCDFDA;
    transition: all 1s;
    width: 100%;
    height: 100%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menu__1 div:hover {
    transform: scale(1.2);
    opacity: 0.5;
  }
  .menu__2 {
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 10px 10px rgba(100, 0, 0, 0.2);
  }
  .menu__2 div {
    background-color: #FFEDFC;
    transition: all 1s;
    width: 100%;
    height: 100%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menu__2 div:hover {
    transform: scale(1.2);
    opacity: 0.5;
  }
  .menu__3 {
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 10px 10px rgba(100, 0, 0, 0.2);
  }
  .menu__3 div {
    background-color: #F9F9F9;
    transition: all 1s;
    width: 100%;
    height: 100%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menu__3 div:hover {
    transform: scale(1.2);
    opacity: 0.5;
  }
  .menu__4 {
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 10px 10px rgba(100, 0, 0, 0.2);
  }
  .menu__4 div {
    background-color: #FDFFFD;
    transition: all 1s;
    width: 100%;
    height: 100%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menu__4 div:hover {
    transform: scale(1.2);
    opacity: 0.5;
  }

  .prochainement {
    font-size: 1em;
  }

  footer {
    font-size: initial;
  }

  .contact {
    margin-left: -10%;
  }

  .mention {
    margin-left: -5%;
  }
}

/*# sourceMappingURL=style.css.map */
